# Ignore everything
*

# But not these files...
!.gitignore
!docker-compose.yml
!LICENSE
!README.md
!Caddyfile
!example.env
!example_immich.env
!example_pihole.env
!immich
!scripts
!scripts/**
!caddy.Dockerfile
!docs
!sonic.cfg
!prometheus
!sonic.Dockerfile
!restart.sh
!homepage_setup_instructions.md
!searxng
!searxng/**
!gethomepage
!gethomepage/**

# ignore this afterwards
gethomepage/logs
