# Ignore everything
*

# But not these files...
!.gitignore
!docker-compose.yml
!LICENSE
!Caddyfile
!example.env
!example_immich.env
!example_pihole.env
!immich
!caddy.Dockerfile
!docs
!sonic.cfg
!prometheus
!sonic.Dockerfile
!unused_docker_compose.yml
!searxng
!searxng/**