servers {
    metrics
}


# http://piholeslx.in {
#     rewrite * /admin{uri}
#     reverse_proxy * 10.8.1.3:80
# }

pihole.pi.rahulja.in {
    rewrite * /admin{uri}
    reverse_proxy * 10.8.1.3:80
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

# http://wgslx.in {
#     reverse_proxy * 10.8.1.2:51821
# }

wg.pi.rahulja.in {
    reverse_proxy * 10.8.1.2:51821
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

# http://cloudflarednsslx.in {
#     reverse_proxy * 10.8.1.4:43697
# }

cloudflaredns.pi.rahulja.in {
    reverse_proxy * 10.8.1.4:43697
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

# http://immichslx.in {
#     reverse_proxy * 10.8.1.6:3001
# }

immich.pi.rahulja.in {
    reverse_proxy * 10.8.1.6:3001
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

# photoprism.pi.rahulja.in {
#     reverse_proxy * 10.8.1.11:2342
#      tls {
#         dns cloudflare {env.CLOUDFLARE_API_TOKEN}
#     }
# }

watchtower.pi.rahulja.in {
    reverse_proxy * 10.8.1.13:8080
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

navidrome.pi.rahulja.in {
    reverse_proxy * 10.8.1.14:4533
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

mikochi.pi.rahulja.in {
    reverse_proxy * 10.8.1.15:8080
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

jellyfin.pi.rahulja.in {
    reverse_proxy * 10.8.1.16:8096
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

archivebox.pi.rahulja.in {
    reverse_proxy * 10.8.1.17:8000
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

prometheus.pi.rahulja.in {
    reverse_proxy * 10.8.1.19:9090
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

grafana.pi.rahulja.in {
    reverse_proxy * 10.8.1.20:3000
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

wallabag.pi.rahulja.in {
    reverse_proxy * 10.8.1.22:80
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}


trans.pi.rahulja.in {
    reverse_proxy * 10.8.1.23:9091
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}


prowlarr.pi.rahulja.in {
    reverse_proxy * 10.8.1.23:9696
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}


flame.pi.rahulja.in {
    reverse_proxy * 10.8.1.24:5005
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}


plex.pi.rahulja.in {
    reverse_proxy * 10.8.1.25:32400
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}


ntfy.pi.rahulja.in {
    reverse_proxy * 10.8.1.26:80
     tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}
