(cloudflare) {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

pihole.pi.rahulja.in {
	reverse_proxy * 10.8.1.3:80
	import cloudflare
}

wg.pi.rahulja.in {
	reverse_proxy * 10.8.1.2:51821
	import cloudflare
}

immich.pi.rahulja.in {
	reverse_proxy * 10.8.1.6:2283
	import cloudflare
}

watchtower.pi.rahulja.in {
	reverse_proxy * 10.8.1.13:8080
	import cloudflare
}

navidrome.pi.rahulja.in {
	reverse_proxy * 10.8.1.14:4533
	import cloudflare
}

mikochi.pi.rahulja.in {
	reverse_proxy * 10.8.1.15:8080
	import cloudflare
}

jellyfin.pi.rahulja.in {
	reverse_proxy * 10.8.1.16:8096
	import cloudflare
}

archivebox.pi.rahulja.in {
	reverse_proxy * 10.8.1.17:8000
	import cloudflare
}

prometheus.pi.rahulja.in {
	reverse_proxy * 10.8.1.19:9090
	import cloudflare
}

grafana.pi.rahulja.in {
	reverse_proxy * 10.8.1.20:3000
	import cloudflare
}

wallabag.pi.rahulja.in {
	reverse_proxy * 10.8.1.22:80
	import cloudflare
}

trans.pi.rahulja.in {
	reverse_proxy * 10.8.1.23:9091
	import cloudflare
}

prowlarr.pi.rahulja.in {
	reverse_proxy * 10.8.1.23:9696
	import cloudflare
}

flame.pi.rahulja.in {
	reverse_proxy * 10.8.1.24:5005
	import cloudflare
}

plex.pi.rahulja.in {
	reverse_proxy * 10.8.1.25:32400
	import cloudflare
}

ntfy.pi.rahulja.in {
	reverse_proxy * 10.8.1.26:8000
	import cloudflare
}

freshrss.pi.rahulja.in {
	reverse_proxy * 10.8.1.27:80
	import cloudflare
}

miniflux.pi.rahulja.in {
	reverse_proxy * 10.8.1.28:8080
	import cloudflare
}

shiori.pi.rahulja.in {
	reverse_proxy * 10.8.1.31:8080
	import cloudflare
}

pngx.pi.rahulja.in {
	reverse_proxy * 10.8.1.32:8000
	import cloudflare
}

grocy.pi.rahulja.in {
	reverse_proxy * 10.8.1.33:80
	import cloudflare
}

filebrowser.pi.rahulja.in {
	reverse_proxy * 10.8.1.34:80
	import cloudflare
}

homarr.pi.rahulja.in {
	reverse_proxy * 10.8.1.35:7575
	import cloudflare
}

dash.pi.rahulja.in {
	reverse_proxy * 10.8.1.57:3000
	import cloudflare
}

cyberchef.pi.rahulja.in {
	reverse_proxy * 10.8.1.36:80
	import cloudflare
}

minio.pi.rahulja.in {
	reverse_proxy * 10.8.1.37:35507
	import cloudflare
}

resume.pi.rahulja.in {
	reverse_proxy * 10.8.1.39:3000
	import cloudflare
}

languagetool.pi.rahulja.in {
	reverse_proxy * 10.8.1.40:8010
	import cloudflare
}

memos.pi.rahulja.in {
	reverse_proxy * 10.8.1.41:5230
	import cloudflare
}

linkding.pi.rahulja.in {
	reverse_proxy * 10.8.1.42:9090
	import cloudflare
}

firefly.pi.rahulja.in {
	reverse_proxy * 10.8.1.43:8080
	import cloudflare
}

fireflyimporter.pi.rahulja.in {
	reverse_proxy * 10.8.1.44:8080
	import cloudflare
}

vikunja.pi.rahulja.in {
	reverse_proxy * 10.8.1.46:3456
	import cloudflare
}

gramps.pi.rahulja.in {
	reverse_proxy * 10.8.1.47:5000
	import cloudflare
}

webtest.pi.rahulja.in {
	reverse_proxy * 10.8.1.49:80
	import cloudflare
}

openproject.pi.rahulja.in {
	reverse_proxy * 10.8.1.50:8080
	import cloudflare
}

nc.pi.rahulja.in {
	reverse_proxy * 10.8.1.51:11000
	import cloudflare
}

n8n.pi.rahulja.in {
	reverse_proxy * 10.8.1.53:5678 {
		flush_interval -1
	}
	import cloudflare
}

searxng.pi.rahulja.in {
	reverse_proxy * 10.8.1.54:8080
	import cloudflare
}

storyteller.pi.rahulja.in {
	reverse_proxy * 10.8.1.55:8001 {
		flush_interval -1
	}
	import cloudflare
}

paisa.pi.rahulja.in {
	reverse_proxy * 10.8.1.56:7500
	import cloudflare
}

homepage.pi.rahulja.in {
	reverse_proxy * 10.8.1.57:3000
	import cloudflare
}

pdf.pi.rahulja.in {
	reverse_proxy * 10.8.1.58:8080
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}
