services:


  tailscale:
    image: tailscale/tailscale:v1.92.4
    container_name: tailscale
    restart: unless-stopped
    environment:
      - TS_AUTHKEY=${TAILSCALE_AUTH_KEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
      - TS_HOSTNAME=pi-docker-ts
      - TS_ROUTES=10.8.1.0/24
      - TS_EXTRA_ARGS=${TS_EXTRA_ARGS}
    volumes:
      - ${TAILSCALE_PATH}:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv6.conf.all.forwarding=1
      - net.ipv4.conf.all.src_valid_mark=1
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    networks:
      wg-easy:
        ipv4_address: 10.8.1.48



  pihole:
    image: pihole/pihole:2025.11.1
    container_name: pihole
    hostname: pihole
    restart: unless-stopped
    env_file:
      - pihole.env
    environment:
      - FTLCONF_webserver_api_password=${PIHOLE__WEBPASSWORD}
      - TZ=${DEFAULT_TZ}
      - FTLCONF_dns_upstreams=10.8.1.4#5053
      - FTLCONF_dns_listeningMode=all
    cap_add:
      - SYS_NICE
      - SYS_TIME
    volumes:
      - ${PIHOLE_ETC_PATH}:/etc/pihole
      - ${PIHOLE_ETC_DNSMASQ_PATH}:/etc/dnsmasq.d
    # ports:
      # - "53:53/tcp"
      # - "53:53/udp"
      # - "5353:80/tcp"
    networks:
      wg-easy:
        ipv4_address: 10.8.1.3





  cloudflared-dns:
    image: cloudflare/cloudflared:2025.11.1
    container_name: cloudflared-dns-tunnel
    hostname: cloudflareddnstunnel
    user: 1000:1000 # should be owner of volumes
    restart: unless-stopped
    command: proxy-dns
    environment:
      TUNNEL_DNS_UPSTREAM: "https://1.0.0.1/dns-query,https://1.1.1.1/dns-query"
      # Listen on an unprivileged port
      TUNNEL_DNS_PORT: 5053
      # Listen on all interfaces
      TUNNEL_DNS_ADDRESS: "0.0.0.0"
      # Tunnel metrics
      TUNNEL_METRICS: 10.8.1.4:43697
    volumes:
      - ${CLOUDFALRED_DNS_PATH}:/etc/cloudflared
    # ports:
      # - "43697:43697/tcp"
    networks:
      wg-easy:
        ipv4_address: 10.8.1.4



  caddy:
    image: ghcr.io/caddybuilds/caddy-cloudflare:2.10.2
    container_name: caddy
    network_mode: service:tailscale
    user: 1000:1000 # should be owner of volumes
    restart: unless-stopped
    depends_on:
      - tailscale
    cap_add:
      - NET_ADMIN
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
    # ports:
    #   - "80:80"
    #   - "443:443"
    #   - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ${CADDY_SITE_PATH}:/srv
      - ${CADDY_DATA_PATH}:/data
      - ${CADDY_CONFIG_PATH}:/config
      # - ${TAILSCALE_TMP_PATH}/tailscaled.sock:/var/run/tailscale/tailscaled.sock
    # networks:
    #   wg-easy:
    #     ipv4_address: 10.8.1.5

  web-test:
    image: traefik/whoami:v1.10.4
    container_name: web-test
    restart: unless-stopped
    networks:
      wg-easy:
        ipv4_address: 10.8.1.49

  paperless-ngx:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.2
    container_name: paperless-ngx
    restart: unless-stopped
    depends_on:
      - immich-redis
    # ports:
    #   - "8000:8000"
    volumes:
      - ${PAPERLESS_NGX_DATA_PATH}:/usr/src/paperless/data
      - ${PAPERLESS_NGX_MEDIA_PATH}:/usr/src/paperless/media
      - ${PAPERLESS_NGX_EXPORT_PATH}:/usr/src/paperless/export
      - ${PAPERLESS_NGX_CONSUME_PATH}:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://immich-redis:6379
      PAPERLESS_TIME_ZONE: ${DEFAULT_TZ}
      PAPERLESS_URL: ${PAPERLESS_NGX_URL}
      PAPERLESS_SECRET_KEY: ${PAPERLESS_NGX_SECRET_KEY}
    dns:
      - 10.8.1.3
      - 1.1.1.1
      - 8.8.8.8
    networks:
      wg-easy:
        ipv4_address: 10.8.1.32


  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # ports:
    #   - 5678:5678
    dns:
      - 10.8.1.3
      - 1.1.1.1
      - 8.8.8.8
    environment:
      - N8N_HOST=n8n.pi.rahulja.in
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - N8N_PROXY_HOPS=1
      - NODE_ENV=production
      - WEBHOOK_URL=https://n8n.pi.rahulja.in/
      - GENERIC_TIMEZONE=${DEFAULT_TZ}
      - TZ=${DEFAULT_TZ}
      # Performance & Maintenance
      - EXECUTIONS_DATA_PRUNE=true
      - EXECUTIONS_DATA_MAX_AGE=336
      - EXECUTIONS_DATA_SAVE_ON_ERROR=all
      - EXECUTIONS_DATA_SAVE_ON_SUCCESS=none
      - N8N_CONCURRENCY_PRODUCTION_LIMIT=2
      - N8N_DEFAULT_BINARY_DATA_MODE=filesystem
    volumes:
      - ${N8N_DATA_FOLDER}:/home/node/.n8n
      - ${N8N_LOCAL_FILES_FOLDER}/local_files:/files
    depends_on:
      - searxng
    networks:
      wg-easy:
        ipv4_address: 10.8.1.53



  filebrowser:
    image: filebrowser/filebrowser:v2.52.0
    container_name: filebrowser
    volumes:
      - ${FILEBROWSER_ROOT_PATH}:/srv
      - ${FILEBROWSER_DB_FILE_PATH}:/database/filebrowser.db
      - ${FILEBROWSER_CONFIG_SETTING_FILE_PATH}:/config/settings.json
    environment:
      - PUID=1000
      - PGID=1000
      - FB_DATABASE=/database/filebrowser.db
      - FB_CONFIG=/config/settings.json
      - FB_ADDR=0.0.0.0
      - FB_PORT=80
    # ports:
    #   - 8080:80
    restart: unless-stopped
    dns:
      - 10.8.1.3
      - 1.1.1.1
      - 8.8.8.8
    networks:
      wg-easy:
        ipv4_address: 10.8.1.34



  transmission:
    image: linuxserver/transmission:4.0.6
    container_name: transmission
    restart: unless-stopped
    # network_mode: "service:gluetun"
    volumes:
      - ${TRANSMISSION_CONFIG_SOURCE}:/config
      - ${TRANSMISSION_DOWNLOAD_SOURCE}:/downloads
      - ${TRANSMISSION_WATCH_SOURCE}:/watch
    environment:
      - PGID=1000
      - PUID=1000
      - TZ=${DEFAULT_TZ}
      # - DOCKER_MODS=linuxserver/mods:transmission-floodui
      # - DOCKER_MODS=linuxserver/mods:transmission-transmissionic
      - USER=${TRANSMISSION_USERNAME}
      - PASS=${TRANSMISSION_PASSWORD}
    dns:
      - 10.8.1.3
      - 1.1.1.1
      - 8.8.8.8
    networks:
      wg-easy:
        ipv4_address: 10.8.1.23



  homarr:
    image: ghcr.io/homarr-labs/homarr:v1.47.0
    container_name: homarr
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Optional, only if you want docker integration
      - ${HOMARR_APP_DATA_PATH}:/appdata
    environment:
      - SECRET_ENCRYPTION_KEY=${HOMARR_SECRET_ENCRYPTION_KEY}
      - REDIS_IS_EXTERNAL=true
      - REDIS_HOST=immich-redis
      - REDIS_PORT=6379
    # ports:
    #   - '7575:7575'
    depends_on:
      - immich-redis
    restart: unless-stopped
    dns:
      - 10.8.1.3
      - 1.1.1.1
      - 8.8.8.8
    networks:
      wg-easy:
        ipv4_address: 10.8.1.35

  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - ${EXTERNAL_LIBRARY_LOCATION}:/usr/src/app/external:ro
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    environment:
      - DB_HOSTNAME=immich-database
      - REDIS_HOSTNAME=immich-redis
      - DB_PASSWORD=${IMMICH_DB_PASSWORD}
      - DB_USERNAME=${IMMICH_DB_USERNAME}
      - DB_DATABASE_NAME=${IMMICH_DB_DATABASE_NAME}
    depends_on:
      - immich-redis
      - immich-database
    restart: always
    dns:
      - 10.8.1.3
      - 1.1.1.1
    networks:
      wg-easy:
        ipv4_address: 10.8.1.6

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    volumes:
      - ${IMMICH_ML_MODEL_CACHE_LOCATION}:/cache
      - ${EXTERNAL_LIBRARY_LOCATION}:/usr/src/app/external:ro
    env_file:
      - .env
    environment:
      - DB_HOSTNAME=immich-database
      - REDIS_HOSTNAME=immich-redis
      - DB_PASSWORD=${IMMICH_DB_PASSWORD}
      - DB_USERNAME=${IMMICH_DB_USERNAME}
      - DB_DATABASE_NAME=${IMMICH_DB_DATABASE_NAME}
    restart: always
    dns:
      - 10.8.1.3
      - 1.1.1.1
    networks:
      wg-easy:
        ipv4_address: 10.8.1.8

  immich-redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
    volumes:
      - ${IMMICH_REDIS_DATA_PATH}:/data
    networks:
      wg-easy:
        ipv4_address: 10.8.1.9

  immich-database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${IMMICH_DB_PASSWORD}
      POSTGRES_USER: ${IMMICH_DB_USERNAME}
      POSTGRES_DB: ${IMMICH_DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${IMMICH_DB_DATA_LOCATION}:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always
    networks:
      wg-easy:
        ipv4_address: 10.8.1.10

  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    restart: unless-stopped
    volumes:
      - ./searxng:/etc/searxng:rw
    environment:
      - SEARXNG_BASE_URL=${SEARXNG_BASE_URL}
      - SEARXNG_SECRET=${SEARXNG_SECRET}
      - SEARXNG_REDIS_URL=${SEARXNG_REDIS_URL}
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    depends_on:
      - immich-redis
    networks:
      wg-easy:
        ipv4_address: 10.8.1.54

  storyteller:
    image: registry.gitlab.com/storyteller-platform/storyteller:web-v2.5.10
    container_name: storyteller
    restart: unless-stopped
    volumes:
      - ${STORYTELLER_DATA_DIR}:/data
      - ${STORYTELLER_DB_DIR}:/database
    environment:
      - STORYTELLER_SECRET_KEY=${STORYTELLER_SECRET_KEY}
      - STORYTELLER_MAX_UPLOAD_CHUNK_SIZE=50
      - STORYTELLER_DATA_DIR=/data
      - STORYTELLER_DB_DIR=/database
      - STORYTELLER_LOG_LEVEL=debug
      - ENABLE_WEB_READER=true
      - TZ=${DEFAULT_TZ}
    dns:
      - 10.8.1.3
      - 1.1.1.1
    networks:
      wg-easy:
        ipv4_address: 10.8.1.55

# Booked 10.8.1.2 - 10.8.1.55 # remember to add to .env of local dns pihole

networks:
  wg-easy:
    driver: bridge
    ipam:
      config:
        - subnet: 10.8.1.0/24
