# Immich Environment Variables
# Latest version: v3.0.1

# The Immich version to use. Pinned to avoid auto-updates.
IMMICH_VERSION=v3.0.1

# The location where your uploaded files are stored
UPLOAD_LOCATION=/mnt/usb/immich/upload

# The location where your database files are stored.
DB_DATA_LOCATION=/home/rahul/docker_data/immich/postgres

# ML model cache location
IMMICH_ML_MODEL_CACHE_LOCATION=/home/rahul/docker_data/immich/modelcache

# Immich redis data
IMMICH_REDIS_DATA_PATH=/home/rahul/docker_data/immich/redis

# Connection secret for postgres. Change it to a random password.
DB_PASSWORD=immichpassword

# The values below this line usually do not need to be changed
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
EXTERNAL_LIBRARY_LOCATION=/mnt/usb/immich/external
