global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
  - static_configs:
    - targets: []
    scheme: http
    timeout: 10s
    api_version: v1
scrape_configs:
- job_name: prometheus
  honor_timestamps: true
  metrics_path: /metrics
  scheme: http
  static_configs:
  - targets:
    - localhost:9090
- job_name: watchtower
  metrics_path: /v1/metrics
  bearer_token: demotoken
  static_configs:
  - targets:
    - 'watchtower:8080'
- job_name: immich_api
  static_configs:
    - targets: ['immichserver:8081']
- job_name: immich_microservices
  static_configs:
    - targets: ['immichserver:8082']
- job_name: 'pihole'
  static_configs:
    - targets: ['piholeexporter:9617']
- job_name: 'caddy_cloudflare_web_server'
  static_configs:
    - targets: ['caddycloudflarewebserver:2019']
- job_name: 'jellyfin'
  static_configs:
    - targets: ['jellyfin:8096']
